!!!
%html{ lang: 'pl' }

  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }

    %title= data.page.title || 'UX Wrocław'

    = stylesheet_link_tag 'all', media: 'all'

    - data.open_graph.each_pair do |type, value|
      %meta{ property: "og:#{type}", content: value }

    %script{ src: '//use.typekit.net/aao4gyp.js' }
    %script try{Typekit.load();}catch(e){}

  %body{ ontouchstart: '' }
    %header.page-header
      .page-section
        %h1.page-logo UX Wrocław
        %p Jesteśmy młodym oddziałem <a href="http://hci.org.pl/">CHI Polska</a>, który zrzesza wrocławską społeczność projektantów&nbsp;<abbr title="User Experience">UX</abbr>.
        %p Organizujemy spotkania dla wszystkich zainteresowanych tematyką user&nbsp;experience, architektury informacji, użyteczności oraz&nbsp;<abbr title="Human–Computer Interaction">HCI</abbr>.

    = yield

    - unless is_404?
      %section.page-section
        %h1 O spotkaniach
        %p Uważamy, że we&nbsp;Wrocławiu brakuje przestrzeni do&nbsp;spotkań i&nbsp;dyskusji w&nbsp;dziedzinie projektowania doświadczeń użytkownika, architektury informacji, interfejsów, interakcji i&nbsp;użyteczności. <em>Chcemy&nbsp;zapełnić tę&nbsp;lukę.</em>

        %section
          %h1.hidden Organizatorzy

          .organizers
            - data.organizers.each do |person|
              %dl.organizer
                %dd.organizer-image= image_tag person.path_to_image, class: 'avatar', alt: person.name
                %dt.organizer-name= person.name
                %dd.organizer-company<
                  %a{ href: person.company.site }= person.company.name

    %section.page-section
      %h1 Kontakt
      %p Napisz do nas na <a href="mailto:info@uxwroclaw.pl">info@uxwroclaw.pl</a> lub znajdź nas <a href="http://facebook.com/UXWroclaw">na&nbsp;Facebooku</a>.
      %iframe{ src: '//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2FUXWroclaw&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;font=segoe+ui&amp;colorscheme=light&amp;action=like&amp;height=94&amp;appId=348736211898980', height: 94 }

    = partial 'shared/call_for_papers', locals: { plural: true }

  - unless is_development?
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40707960-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

/ Źródło strony: https://github.com/porada/uxwroclaw.pl
