!!!
%html{ lang: 'pl' }

  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }

    %title= data.page.title || 'UX Wrocław'

    = stylesheet_link_tag 'all'

    %script{ src: '//use.typekit.net/aao4gyp.js' }
    %script try{Typekit.load();}catch(e){}

  %body{ ontouchstart: '' }
    %header.page-header
      .page-section
        %h1.page-logo UX Wrocław
        %p Jesteśmy młodym oddziałem <a href="http://hci.org.pl/">CHI Polska</a>, który zrzesza wrocławską społeczność projektantów&nbsp;<abbr title="User Experience">UX</abbr>.
        %p Organizujemy spotkania dla wszystkich zainteresowanych tematyką user&nbsp;experience, architektury informacji, użyteczności oraz&nbsp;<abbr title="Human–Computer Interaction">HCI</abbr>.

    = yield

    %section.page-section
      %h1 O spotkaniach
      %p Uważamy, że we&nbsp;Wrocławiu brakuje przestrzeni do&nbsp;spotkań i&nbsp;dyskusji w&nbsp;dziedzinie projektowania doswiadczeń użyktownika, architektury informacji, interfejsów, interakcji i&nbsp;użyteczności. <em>Chcemy&nbsp;zapełnić tę&nbsp;lukę.</em>

      %section
        %h1.hidden Organizatorzy

        .organizers
          - data.organizers.each do |person|
            %dl.organizer
              %dd.organizer-image= image_tag person.path_to_image, class: 'avatar', alt: person.name
              %dt.organizer-name= person.name
              %dd.organizer-company<
                %a{ href: person.company.site }= person.company.name

    %section.page-section
      %h1 Kontakt
      %p Napisz do nas: <a href="mailto:info@uxwroclaw.pl">info@uxwroclaw.pl</a>

/ Źródło strony: https://github.com/porada/ux-wroclaw
